.chatroom{
    background-image: url("../Assets/Sea\ of\ Clouds-10s-1490px.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 50px;
    gap: 30px;
    font-size: 26px;

}

.icons{
    color: black;
    margin-top: 30px;
}

.chats{
    max-width: 60%;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 2%;
    min-height: 70%;
    max-height: 90%;
    margin-top: -20px; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.text-input{
    min-height: 30px;
    min-width: 230px;
    width: 330px;
    text-align: left;
    border: none;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    align-items: flex-end;
    padding-left: 10px;
    font-size: 16px;
}

.input{
    margin-top: 50px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    align-items: center;
    align-self: center;
    margin-bottom: 10px;
}

.text-input ::-webkit-textfield-decoration-container{
    border: none;
}