.login{
    background-image: url("../Assets/Sea\ of\ Clouds-10s-1490px.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;   
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;
    gap: 35px;
    font-size: 32px;
    height: fit-content;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon{
    padding-right: 10px;
}

small{
    font-size: 13px;
}

a{
    cursor: pointer;
    color: blue;
}