.messages{
    text-align: start;
    border: none;
    background-color:#f44336;
    color: white;
    padding: 10px;
    border-radius: 2px 20px 20px 20px;
    font-size: 16px;
    margin-top: -10px;
}


.my-contact{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    justify-content: flex-end;
}

