.textBody{
    text-align: start;
    border: none;
    background-color:#f44336;
    color: white;
    padding: 2px;
    border-radius: 1px 20px 20px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.message{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.my-contact{
    margin-top: 2px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    justify-content: flex-start;
    padding-bottom: 2px;
    margin-left: -26px;
}

